<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Registration - RDMS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.3.1
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<main>
    <div class="container">
        <div class="col-lg-6" style="position:absolute;width:40%;left: 25%;z-index:9;left:40%" id="alert">
        </div>

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="/login" class="logo d-flex align-items-center w-auto">
                                <img src="/img/logo.png" alt="">
                                <span class="d-none d-lg-block">RDMS</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                    <p class="text-center small">Enter your details to create account</p>
                                </div>

                                <form class="row g-3 needs-validation" novalidate>
                                    <div class="col-12">
                                        <label for="yourblock" class="form-label">Your Block</label>
                                        <select class="form-select" aria-label="Default select example" id="yourblock" onchange="showVillage(this)">
                                            <option value="">Select Block</option>
                                            <option value="Haisarbazar">Haisar Bazar</option>
                                            <option value="Nathnagar">Nath Nagar</option>
                                            <option value="Pauli">Pauli</option>

                                        </select>
                                    </div>
                                    <div class="col-12 allVillage" id="Haisarbazar" style="display: none;">
                                        <label for="yourVillage" class="form-label">Your Village</label>

                                        <select class="form-select" aria-label="Default select example" id="Haisarbazar_village">


                                            <option value="3174001001">AGAPUR GULARIYA</option>
                                            <option value="3174001002">AHARA</option>
                                            <option value="3174001003">ASRAFPUR</option>
                                            <option value="3174001004">AURA DAD</option>
                                            <option value="3174001005">BABHNAULI</option>
                                            <option value="3174001006">BADGO</option>
                                            <option value="3174001007">BAHRADADI</option>
                                            <option value="3174001009">BAIJNATHPUR</option>
                                            <option value="3174001078">BAIKUNTHPUR</option>
                                            <option value="3174001010">BAKAULI KALA</option>
                                            <option value="3174001011">BALAMPUR</option>
                                            <option value="3174001012">BANDA BAZAR</option>
                                            <option value="3174001013">BANTVAR</option>
                                            <option value="3174001079">BARAINIYA PAKADI</option>
                                            <option value="3174001086">Baranw</option>
                                            <option value="3174001032">BARIDEEHA</option>
                                            <option value="3174001008">BARPARWA</option>
                                            <option value="3174001015">BASWARI GAVN</option>
                                            <option value="3174001016">BELAMA</option>
                                            <option value="3174001017">BELAURA</option>
                                            <option value="3174001018">BHAINSA KHUT</option>
                                            <option value="3174001019">BHAISHAHI</option>
                                            <option value="3174001085">BHARATPUR</option>
                                            <option value="3174001050">BHARWAL PARVATA</option>
                                            <option value="3174001022">CHAPARA PRUVI</option>
                                            <option value="3174001023">DADARWAR</option>
                                            <option value="3174001024">DEBARI</option>
                                            <option value="3174001025">DHANGHTA</option>
                                            <option value="3174001026">DUDHARA KALA</option>
                                            <option value="3174001087">Dudhra Urf Khaira</option>
                                            <option value="3174001027">DUHIYA KHURD</option>
                                            <option value="3174001028">DUHIYAKALA</option>
                                            <option value="3174001029">FULUYI</option>
                                            <option value="3174001030">GAGAR GAD</option>
                                            <option value="3174001031">GAI BASANTPUR</option>
                                            <option value="3174001088">Gaighat II</option>
                                            <option value="3174001033">GAYGHAT</option>
                                            <option value="3174001034">GHORANG</option>
                                            <option value="3174001035">GOPIPUR</option>
                                            <option value="3174001036">HAISAR BAZAR</option>
                                            <option value="3174001037">HAKIMPUR</option>
                                            <option value="3174001038">JAGDISHPUR</option>
                                            <option value="3174001039">JIGINA</option>
                                            <option value="3174001040">KANAILA</option>
                                            <option value="3174001041">KARAMA</option>
                                            <option value="3174001043">KATAR MISHRA</option>
                                            <option value="3174001044">KATYA</option>
                                            <option value="3174001045">KHAJO</option>
                                            <option value="3174001046">KOCHARI</option>
                                            <option value="3174001093">Kodaicha</option>
                                            <option value="3174001048">KURMAUL</option>
                                            <option value="3174001049">LAHURE GAVN</option>
                                            <option value="3174001053">MADRA</option>
                                            <option value="3174001051">MALAULI</option>
                                            <option value="3174001089">Manikapar</option>
                                            <option value="3174001052">MAUR</option>
                                            <option value="3174001054">MITHNA SITHNA</option>
                                            <option value="3174001083">MUDERA RAY</option>
                                            <option value="3174001056">MUNDERA SHUKLA</option>
                                            <option value="3174001057">NATVAVAR</option>
                                            <option value="3174001058">NAVAN KHURD</option>
                                            <option value="3174001090">Netwapur</option>
                                            <option value="3174001060">PARASAHAR PURVI</option>
                                            <option value="3174001061">PARSAKALA</option>
                                            <option value="3174001091">Patijew</option>
                                            <option value="3174001059">PATTI BARA HISSA SMOGAR</option>
                                            <option value="3174001062">PRAJAPATI PUR</option>
                                            <option value="3174001063">RAJNAULI</option>
                                            <option value="3174001092">Ram Jangala</option>
                                            <option value="3174001064">RAMPUR (MADHAY)</option>
                                            <option value="3174001084">RAMPUR DAKHANI</option>
                                            <option value="3174001082">RAMPUR UTTARI</option>
                                            <option value="3174001065">RUPIN</option>
                                            <option value="3174001066">SANTHI</option>
                                            <option value="3174001068">SEMAR DADI</option>
                                            <option value="3174001069">SEMARI</option>
                                            <option value="3174001070">SIRASI</option>
                                            <option value="3174001067">SIYAR KHURD</option>
                                            <option value="3174001081">SONADI</option>
                                            <option value="3174001071">SONDIHA</option>
                                            <option value="3174001072">SURAINA</option>
                                            <option value="3174001074">TAMA</option>
                                            <option value="3174001073">TANDA</option>
                                            <option value="3174001075">THAKURADAD</option>
                                            <option value="3174001076">TURKAULIYA NAYAK</option>
                                            <option value="3174001077">UMARIYA BAZAR</option>

                                        </select>

                                        <div class="invalid-feedback">Please, enter your name!</div>
                                    </div>
                                    <div class="col-12 allVillage" id="Nathnagar" style="display: none;">
                                        <label for="yourVillage" class="form-label">Your Village</label>

                                        <select class="form-select" aria-label="Default select example" id="Nathnagar_village">

                                            <option value="3174004055">ACCHATI</option>
                                            <option value="3174004001">ALINAGAR</option>
                                            <option value="3174004105">Ammadei</option>
                                            <option value="3174004107">Atraulia Urf Mathia</option>
                                            <option value="3174004002">BAGHARI URF PARASADIPUR</option>
                                            <option value="3174004004">BALAHI</option>
                                            <option value="3174004005">BANDHUPUR</option>
                                            <option value="3174004006">BARAULI</option>
                                            <option value="3174004007">BARIDEEHA</option>
                                            <option value="3174004041">BELDUHA</option>
                                            <option value="3174004009">BELHARA</option>
                                            <option value="3174004010">BELRAYI</option>
                                            <option value="3174004097">Belwa</option>
                                            <option value="3174004003">BHAGAUTIPUR</option>
                                            <option value="3174004013">BHAGVANPUR PACHHMI</option>
                                            <option value="3174004012">BHAGVANPUR PURVI</option>
                                            <option value="3174004111">BHAISAHI URF BHAISWARIA</option>
                                            <option value="3174004016">BHINKHINI KHURD</option>
                                            <option value="3174004091">BHITIKINI</option>
                                            <option value="3174004014">BHITIMAFI</option>
                                            <option value="3174004011">BHOGIPUR</option>
                                            <option value="3174004103">Chandapar</option>
                                            <option value="3174004017">CHAVARIYA</option>
                                            <option value="3174004018">CHITAHI</option>
                                            <option value="3174004019">CHOLKHARI</option>
                                            <option value="3174004020">DAHRAULI</option>
                                            <option value="3174004100">Deokali Khurd</option>
                                            <option value="3174004022">DHANJAWAL</option>
                                            <option value="3174004023">DHAWAREPAR BADHYA</option>
                                            <option value="3174004021">DHAYPOKHAR</option>
                                            <option value="3174004084">GAJADHARPUR</option>
                                            <option value="3174004025">GALIMPUR</option>
                                            <option value="3174004094">Gaura</option>
                                            <option value="3174004109">Gaura Khurd</option>
                                            <option value="3174004083">GAYGHAT</option>
                                            <option value="3174004030">GHORHAT</option>
                                            <option value="3174004029">GITHANI</option>
                                            <option value="3174004031">GONAURA</option>
                                            <option value="3174004032">GORAYA GHAT</option>
                                            <option value="3174004034">HARDI</option>
                                            <option value="3174004033">HARPUR</option>
                                            <option value="3174004106">Hatwa</option>
                                            <option value="3174004110">Itaua</option>
                                            <option value="3174004036">JAI RAM PATTI</option>
                                            <option value="3174004037">JAMIRA</option>
                                            <option value="3174004039">JHIGURAPAR</option>
                                            <option value="3174004040">JOGARAJA</option>
                                            <option value="3174004048">KADSARA</option>
                                            <option value="3174004102">Kalan</option>
                                            <option value="3174004046">KALEND HARDO</option>
                                            <option value="3174004092">Kali Jagdispur</option>
                                            <option value="3174004047">KANSAR</option>
                                            <option value="3174004045">KATHAICHA</option>
                                            <option value="3174004049">KEVTALI</option>
                                            <option value="3174004050">KHARVANIYA KHURD</option>
                                            <option value="3174004051">KHIRIYA</option>
                                            <option value="3174004099">Kodari</option>
                                            <option value="3174004053">KODRA BHUALPATTI</option>
                                            <option value="3174004054">KODWAT</option>
                                            <option value="3174004056">KOLAHUGADA</option>
                                            <option value="3174004096">Lakhanapar</option>
                                            <option value="3174004059">LAKHANOHAR</option>
                                            <option value="3174004060">LOIYABHAR</option>
                                            <option value="3174004061">MADHARAJA</option>
                                            <option value="3174004062">MAHADEVA</option>
                                            <option value="3174004067">MAHOBARA</option>
                                            <option value="3174004063">MAHULI</option>
                                            <option value="3174004064">MAJHAUVA EKDANGAWA</option>
                                            <option value="3174004065">MANPUR</option>
                                            <option value="3174004068">MOLANAPUR</option>
                                            <option value="3174004069">MUKHALISPUR</option>
                                            <option value="3174004070">MUKUNDPUR</option>
                                            <option value="3174004027">MURIYARI</option>
                                            <option value="3174004071">NAGUA
                                            <option value="3174004073">NATAWA</option>
                                            <option value="3174004072">NATHNAGAR</option>
                                            <option value="3174004075">NEEVAHORIK</option>
                                            <option value="3174004104">Nokta</option>
                                            <option value="3174004093">Ojha Patti</option>
                                            <option value="3174004076">ONBILAYI</option>
                                            <option value="3174004078">PADRAHA</option>
                                            <option value="3174004079">PARMESHWARPUR</option>
                                            <option value="3174004080">PARSA URF FIDAIPUR</option>
                                            <option value="3174004026">PIDARI PURVI</option>
                                            <option value="3174004081">RATANPUR</option>
                                            <option value="3174004082">REWATA</option>
                                            <option value="3174004024">SACRAICHA</option>
                                            <option value="3174004086">SAKHI</option>
                                            <option value="3174004113">SANICHARA CHAUBEY</option>
                                            <option value="3174004066">SARHARA</option>
                                            <option value="3174004077">SATHARA</option>
                                            <option value="3174004028">SHANICHARA BABU</option>
                                            <option value="3174004074">SHANICHARA PURVI</option>
                                            <option value="3174004098">Shanti Nargapar</option>
                                            <option value="3174004044">SHIKTAHA</option>
                                            <option value="3174004035">SISWANIYA</option>
                                            <option value="3174004052">SUBAKHARI</option>
                                            <option value="3174004108">Sukhipur</option>
                                            <option value="3174004101">Sukrauli</option>
                                            <option value="3174004042">TARAYAPAR</option>
                                            <option value="3174004043">TIGHARA</option>
                                            <option value="3174004112">Tikuie Kol Babu</option>
                                            <option value="3174004095">Tinhari</option>
                                        </select>

                                        <div class="invalid-feedback">Please, enter your name!</div>
                                    </div>

                                    <div class="col-12 allVillage" id="Pauli" style="display: none;">
                                        <label for="yourVillage" class="form-label">Your Village</label>

                                            <select class="form-select" aria-label="Default select example" id="Pauli_village">

                                                <option value="3174008001">ARJAW</option>
                                                <option value="3174008003">BACHHHAIPUR</option>
                                                <option value="3174008004">BARGADWA</option>
                                                <option value="3174008048">BHATAULI</option>
                                                <option value="3174008060">Bhotaha</option>
                                                <option value="3174008006">BUGHAIE</option>
                                                <option value="3174008007">BUJURGVAR</option>
                                                <option value="3174008008">CHAKIYA</option>
                                                <option value="3174008009">CHANDAULI MAFI</option>
                                                <option value="3174008010">CHAURA KALA</option>
                                                <option value="3174008011">CHHAPRA MAGRVI</option>
                                                <option value="3174008012">CHHITAONI</option>
                                                <option value="3174008016">DHAORAHARA</option>
                                                <option value="3174008013">DIHVA</option>
                                                <option value="3174008049">DULAMPUR</option>
                                                <option value="3174008014">DULHAPAR KALA</option>
                                                <option value="3174008015">GAGARGAD</option>
                                                <option value="3174008055">Gaurapar Gosai Singhpur</option>
                                                <option value="3174008050">Goapar</option>
                                                <option value="3174008017">HADIYA MAFI</option>
                                                <option value="3174008052">Karji Rustampur</option>
                                                <option value="3174008005">KATAHA BHITHA</option>
                                                <option value="3174008020">KHAIRA</option>
                                                <option value="3174008059">Kharcha</option>
                                                <option value="3174008021">KHEWASIYA</option>
                                                <option value="3174008022">KISHUNPUR</option>
                                                <option value="3174008023">KOHALWA</option>
                                                <option value="3174008024">KUDAWA</option>
                                                <option value="3174008058">Laukiha</option>
                                                <option value="3174008025">MADPAUNI</option>
                                                <option value="3174008026">MAHESAR PUR</option>
                                                <option value="3174008027">MAJHAKHARAGPUR</option>
                                                <option value="3174008053">Majhoura</option>
                                                <option value="3174008028">MAKDUMPUR</option>
                                                <option value="3174008030">MURADEEHA</option>
                                                <option value="3174008047">MUTHAHI KHURD</option>
                                                <option value="3174008029">MUTHHIKALA</option>
                                                <option value="3174008031">NAKAHA</option>
                                                <option value="3174008032">NARAYNPUR</option>
                                                <option value="3174008033">NIHAILA</option>
                                                <option value="3174008051">Pachra</option>
                                                <option value="3174008034">PADRIYA</option>
                                                <option value="3174008035">PARAHAR GOVIND</option>
                                                <option value="3174008037">PARASA</option>
                                                <option value="3174008057">Parasir</option>
                                                <option value="3174008036">PARMAHAR</option>
                                                <option value="3174008038">PAULI</option>
                                                <option value="3174008039">RANIPUR</option>
                                                <option value="3174008040">ROSYA BAZAR</option>
                                                <option value="3174008042">SAKURCHAK</option>
                                                <option value="3174008041">SANICHARA BAZAR</option>
                                                <option value="3174008054">Sewaipar</option>
                                                <option value="3174008043">SHIVBAKHRI</option>
                                                <option value="3174008044">SONHAN</option>
                                                <option value="3174008045">TEJPUR</option>
                                                <option value="3174008056">Udaha</option>
                                                <option value="3174008057">Guest 1</option>
                                                <option value="3174008058">Guest 2</option>
                                            </select>

                                        <div class="invalid-feedback">Please, enter your name!</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourName" class="form-label">Your Name</label>
                                        <input type="text" name="name" class="form-control" id="yourName" required>
                                        <div class="invalid-feedback">Please, enter your name!</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourmobile" class="form-label">Your Mobile</label>
                                        <input type="mobile" name="email" class="form-control" id="yourMobile" required>
                                        <div class="invalid-feedback">Please enter a valid mobile</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourEmail" class="form-label">Your Email</label>
                                        <input type="email" name="email" class="form-control" id="yourEmail" required>
                                        <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Username</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            <input type="text" name="username" class="form-control" id="yourUsername" required>
                                            <div class="invalid-feedback">Please choose a username.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Password</label>
                                        <input type="password" name="password" class="form-control" id="yourPassword" required>
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                                            <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                                            <div class="invalid-feedback">You must agree before submitting.</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="button" onclick="register()">Create Account</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Already have an account? <a href="/login">Log in</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/chart.js/chart.min.js"></script>
<script src="/vendor/echarts/echarts.min.js"></script>
<script src="/vendor/quill/quill.min.js"></script>
<script src="/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/vendor/tinymce/tinymce.min.js"></script>

<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<script src="/js/main.js"></script>
<script src="/appjs/allCard.js"></script>
<script src="/appjs/month.js"></script>
<script src="/appjs/distribute.js"></script>
<script src="/appjs/view.js"></script>
<script src="/appjs/ajax.js"></script>
<script src="/appjs/setting.js"></script>
<script src="/appjs/main.js"></script>

<script>

    function register(){
        var url = "/user/register";
        var block = $("#yourblock").find('option:selected').text()
        var blockId = $("#yourblock").find('option:selected').val();
        var villageName =$("#"+blockId+"_village").find('option:selected').text();

        var name =  $("#yourName").val();
        var mobile = $("#yourMobile").val();
        var email = $("#yourEmail").val();
        var userName = $("#yourUsername").val();
        var password = $("#yourPassword").val();
        var obj ={};
        obj["villageName"]= villageName;
        obj["block"]= block;
        obj["name"]= name;
        obj["mobile"]= mobile;
        obj["email"]= email;
        obj["userName"]= userName;
        obj["password"]= password;
       var response = ajax.post(url, obj);
     if (response.status == "success") {
            ajax.alert("success", "Your registration is successfull , Please login to access application");
        } else {
            ajax.alert("error", response.error);
        }

    }

    function showVillage(thisObj){
        var val = $(thisObj).val();
        if(val ==""){
            $("#Nathnagar").hide();
            $("#Haisarbazar").hide();
            $("#Pauli").hide();

            $("#Nathnagar").val("");
            $("#Haisarbazar").val("");
            $("#Pauli").val("");
        }else{
            $("#Nathnagar").hide();
            $("#Haisarbazar").hide();
            $("#Pauli").hide();

            $("#"+val).show();
        }

    }



</script>

</body>

</html>